#wrapper {
  margin-top: 3em;
}
nav#main-navigation {
  background: $dark;
  position: fixed;
  z-index: $z-index-header;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: $shadow;
}

.admin-bar #main-navigation {
  top: 46px;
  position: absolute;
}