.blurbs {
  > * {
    @include flexbox('center');
    .blurb {
      flex: 1;
      min-width: 200px;
      @include flexbox('center');
      text-align: center;
      margin: auto;
      @media screen and (min-width: $small) {
        margin-right: 1em;
        &:last-of-type {
          padding-right: 0;
        }
      }

      .blurb-top {
        min-height: 200px;
        @include flexbox(center);
        align-items: flex-end;
      }
      .blurb-bottom {
        padding: 1em;
      }
      h3 {

      }
      i {
        font-size: 5em;
      }
      img {
        max-width: 100%;
        max-height: 200px;
        min-height: 200px;
      }
    }
  }
  .visible {
    .blurb {
      animation: fadeInLeft 1s;
    }
  }
}