.builder-gallery {
  background: $dark;
  div.gallery {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    figure.gallery-item {
      margin: 0;
      flex: 1 100%;
      @media screen and (min-width: $small) {
        flex: 1 50%;
        max-width: 50%;
      }
      @media screen and (min-width: $medium) {
        flex: 1 25%;
        max-width: 25%;
      }
      &:hover {
        opacity: .8;
      }
      img {
        object-fit: cover;
        width: 100%;
        height: 275px;
      }
    }
  }
}