.DS_Store
.idea
wordpress/*
**/uploads
**/upgrade
node_modules
*debug.log
logs/*
yarn.lock
config.json
npm-debug.log

# WP Plugins
advanced-custom-fields-pro
jetpack
wp-migrate-db
woocommerce
woocommerce-services
simple-page-ordering
gravity-forms
customize-pane-resizer
bb-plugin
akismet
seo-framework