:root {
  @custom-media --viewport-small (width >= 576px);
  @custom-media --viewport-medium (width >= 768px);
  @custom-media --viewport-large (width >= 992px);
  @custom-media --viewport-extralarge (width >= 1200px);
}