:root {
  --font-primary: "Helvetica Neue", Verdana, Arial, sans-serif;
  --font-secondary: "Baskerville", "Palatino Linotype", "Book Antiqua", Palatino, serif;

  --light: #ecf0f1;
  --dark: #333333;
  --green: #27ae60;
  --blue: #3498db;
}