body {
  background: var(--light);
  font-size: 18px;
  @mixin paragraph;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  @mixin heading-primary;
}


a {
  color: var(--blue);
  text-decoration: none;
  &:hover {
    color: var(--green);
  }
}