@mixin bleed($value) {
  @if $value == margins {
    width: 80%;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
  } @else if $value == none {
    width: initial;
    max-width: initial;
    margin-left: initial;
    margin-right: initial;
  } @else {
  }
}

@mixin flexbox($value) {
  @if $value == center {
    justify-content: center;
    align-items: center;
  } @else if $value == start {
    justify-content: flex-start;
  } @else if $value == end {
    justify-content: flex-end;
  } @else {
  }
  display: flex;
  flex-flow: row wrap;
  > * {
    flex: 1 100%;
  }
}