// -------------------------------
// Base Color Helpers
// -------------------------------

$dark: #191919;
$dark-clear: rgba(0, 0, 0, 0.60);
$gray-dark: #414042;
$gray-light: #e6e6e6;
$gray: #868686;

// -------------------------------
// Define Color Scheme
// -------------------------------
// example:"$blue: #3386e2"

// !important: content should never be more than 55-ish characters per line, it just becomes unreadable
// https://www.smashingmagazine.com/2014/09/balancing-line-length-font-size-responsive-web-design/
$content-width: 750px;

// Menu & Header helpers
$z-index-header: 999;

$line-height: 2.25em;
$border-radius: 2px;
// !important -  Responsible for cohesive input height & button height
$fields-height: 2em;

$shadow: 0px 3px 1em rgba(0, 0, 0, 0.5);

// General

// -------------------------------
// Fonts
// -------------------------------
$font-primary: 'Noto Sans', sans-serif;
$font-secondary: 'Noto Sans', sans-serif;

// Header
$header-background: white;

// Mobile Navigation
$mobile-nav-text: white;
$mobile-nav-background: $dark-clear;

// Navigation
$current-menu-item: $gray-dark;
$menu-text-color: $gray;
$menu-hover: $gray-dark;
$sub-menu-background: $dark-clear;
$sub-menu-item-background: $gray-dark;

// Search Form
$search-button: $gray-dark;

// -------------------------------
// Buttons
// -------------------------------
$button-background: $gray-dark;
$button-border: $gray-dark;
$button-text: white;
// Buttons:hover
$button-background-hover: $gray;
$button-border-hover: $gray;
$button-text-hover: white;

$footer-text: white;
$footer-links: white;
$footer-background: $dark;

// -------------------------------
// Media Query Sizes
// -------------------------------
$super: 1405px;
$extra: 1100px;
$large: 980px;
$medium: 767px;
$small: 479px;