body {
  background: var(--color-background);
  color: var(--color-main);
  font-size: var(--font-base-size);
  @apply --font-style-paragraph;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:--headings {
  @apply --font-style-headings;
  margin-bottom: 1rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.75rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.75rem;
}

h6 {
  font-size: 1.5rem;
}

:--headings:matches(.post-title) {
  color: var(--green-jungle);
  font-size: calc(var(--font-base-size) * 1.5);
}

a:any-link {
  color: var(--color-links);
  text-decoration: none;
  &:hover {
    color: var(--color-links-hover);
  }
}

/**
 Navigation Colors
  */
li:matches(.page_item, .menu-item) {
  display: inline-block;
  margin-left: -4px;
  & a {
    color: var(--green-jungle);

  }
}

/**
  Container
 */
.container {
  @apply --width-standard;
}