ul.social_media {
  padding-left: 0;
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  justify-content: center;
  @media (--viewport-medium) {
    justify-content: flex-end;
  }
  & li {
    text-align: center;
    padding-right: 10px;
    @media (--viewport-medium) {
      text-align: right;
    }
    &:last-of-type {
      padding-right: 0;
    }
  }
  & a {
    display: block;
    width: 100%;
    height: 100%;
  }
  & svg {
    max-width: 25px;
    max-height: 25px;
  }
}